apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: payment-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      tolerations:
        - key: "node-type"
          operator: "Equal"
          value: "application"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: "karpenter.sh/nodepool"
                    operator: "Exists"
      containers:
      - name: payment-service
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 3004
        env:
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://microservices-collector.opentelemetry.svc.cluster.local:4318"
        - name: OTEL_SERVICE_NAME
          value: "payment-service"
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: "service.name=payment-service,service.version=1.0.0"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /health
            port: 3004
          initialDelaySeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 3004
          initialDelaySeconds: 5
