# OpenCost Configuration for AWS EKS - Based on Working Example
opencost:
  exporter:
    aws:
      cluster_id: tbyte-dev
    cloudProviderApiKey: ""
  prometheus:
    external:
      enabled: true
      url: "http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090"
    internal:
      enabled: false

serviceAccount:
  create: true
  name: opencost

serviceMonitor:
  additionalLabels:
    release: prometheus
  enabled: true
