# OpenCost Configuration - Production Template
opencost:
  exporter:
    defaultClusterId: tbyte-dev
    env:
      PROMETHEUS_SERVER_ENDPOINT: "http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090"
  prometheus:
    external:
      enabled: true
      url: "http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090"
    internal:
      enabled: false

serviceAccount:
  create: true
  name: opencost
