# OpenCost Configuration - Simple Direct Override
opencost:
  exporter:
    defaultClusterId: tbyte-dev
    extraEnv:
      PROMETHEUS_SERVER_ENDPOINT: "http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090"

serviceAccount:
  create: true
  name: opencost
