tolerations:
- key: node-type
  operator: Equal
  value: system
  effect: NoSchedule

prometheus:
  external:
    enabled: true
    url: http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090
  internal:
    enabled: false

opencost:
  exporter:
    defaultClusterId: tbyte-dev
    
ui:
  enabled: true
