# OpenCost Configuration for AWS EKS - Override Default Prometheus Settings
opencost:
  exporter:
    defaultClusterId: tbyte-dev
  prometheus:
    internal:
      enabled: true
      serviceName: monitoring-kube-prometheus-prometheus
      namespaceName: monitoring
      port: 9090

serviceAccount:
  create: true
  name: opencost
