# OpenCost Configuration for AWS EKS - Based on Production Template
opencost:
  exporter:
    aws:
      cluster_id: tbyte-dev
    cloudProviderApiKey: ""
  prometheus:
    internal:
      enabled: true
      namespaceName: monitoring
      port: 9090
      serviceName: monitoring-kube-prometheus-prometheus

serviceAccount:
  create: true
  name: opencost

serviceMonitor:
  additionalLabels:
    release: prometheus
  enabled: true
