# OpenCost Configuration - Direct Environment Override
opencost:
  exporter:
    defaultClusterId: tbyte-dev
    env:
      - name: PROMETHEUS_SERVER_ENDPOINT
        value: "http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090"

serviceAccount:
  create: true
  name: opencost
