replicaCount: 2

image:
  repository: 575491070504.dkr.ecr.eu-central-1.amazonaws.com/x-clone
  pullPolicy: IfNotPresent
  tag: "d1b56a8d6da55856a21fbafa2d76b4ef3f39d5cf"

service:
  type: ClusterIP
  port: 80

secrets:
  awsSecretName: tbyte-dev-x-clone-secrets

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}
