# OpenTelemetry Operator Configuration
# Global tolerations
tolerations:
  - key: "node-type"
    operator: "Equal"
    value: "system"
    effect: "NoSchedule"

manager:
  # Schedule on system nodes
  tolerations:
    - key: "node-type"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
  nodeSelector:
    eks.amazonaws.com/nodegroup: "tbyte-dev-system-nodes"
  
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
