tempo:
  tempo:
    storage:
      trace:
        backend: local
        local:
          path: /var/tempo/traces
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    server:
      http_listen_port: 3200
    metrics_generator:
      registry:
        external_labels:
          source: tempo
          cluster: tempo
      storage:
        path: /tmp/tempo/generator/wal
        remote_write:
          - url: http://monitoring-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/write
            queue_config:
              capacity: 10000
      processor:
        service_graphs:
          dimensions: [service.name, service.namespace]
          histogram_buckets: [.1, .2, .4, .8, 1.6, 3.2, 6.4, 12.8]
        span_metrics:
          dimensions: [service.name, service.namespace]
          histogram_buckets: [.002, .005, .01, .025, .05, .1, .25, .5, 1, 2.5, 5, 10]
    overrides:
      defaults:
        metrics_generator:
          processors: [service-graphs, span-metrics]
          collection_interval: 15s
          disable_collection: false
    
  # Enable metrics generator as a target
  metricsGenerator:
    enabled: true
  
  persistence:
    enabled: true
    storageClassName: gp3
    size: 10Gi
  
  service:
    type: ClusterIP
