tempo:
  tempo:
    storage:
      trace:
        backend: local
        local:
          path: /var/tempo/traces
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    server:
      http_listen_port: 3200
  
  persistence:
    enabled: true
    storageClassName: gp3
    size: 10Gi
  
  service:
    type: ClusterIP
