apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: notification-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      containers:
      - name: notification-service
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 3005
        env:
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://microservices-collector.opentelemetry.svc.cluster.local:4318"
        - name: OTEL_SERVICE_NAME
          value: "notification-service"
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: "service.name=notification-service,service.version=1.0.0"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /health
            port: 3005
          initialDelaySeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 3005
          initialDelaySeconds: 5
