apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: notification-service
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    app: user-service
